body
  padding: 0 
  margin: 0

.header
  position: relative
  padding: 10px
  padding-bottom: 0
  margin-top: -10px
  margin-bottom: 30px

  background: rgb(125,126,125) /* Old browsers */
  background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%) /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))) /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%) /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%) /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%) /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ) /* IE6-9 */
  background: linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%) /* W3C */

  border-bottom: 2px solid #999

  color: white

  -webkit-box-shadow: 0px 2px 2px #666
  -moz-box-shadow: 0px 2px 2px #666
  box-shadow: 0px 2px 2px #666

  cursor: pointer

  img
    margin-bottom: -17px
    margin-right: -12px

  nav
    position: absolute
    left: 400px
    top: 70px

    a
      background-color: #666
      color: white
      padding: 5px 5px

      text-decoration: none

      -webkit-border-top-left-radius: 5px
      -webkit-border-top-right-radius: 5px
      -webkit-border-bottom-right-radius: 0px
      -webkit-border-bottom-left-radius: 0px
      -moz-border-radius-topleft: 5px
      -moz-border-radius-topright: 5px
      -moz-border-radius-bottomright: 0px
      -moz-border-radius-bottomleft: 0px
      border-top-left-radius: 5px
      border-top-right-radius: 5px
      border-bottom-right-radius: 0px
      border-bottom-left-radius: 0px

      border: 2px solid #999
      border-bottom: none

      font-size: 0.8em

      -webkit-box-shadow: 0px -2px 2px #222
      -moz-box-shadow: 0px -2px 2px #222
      box-shadow: 0px -2px 2px #222

    .twitter_link
      background-color: #FF2123

  .subtitle
    font-weight: normal
    font-size: 0.5em
    letter-spacing: -0.08em
    color: #fff
    text-shadow: #333 0px 1px 1px
    text-decoration: none

.content
  margin-left: 10px

.footer
  margin: 10px
  margin-top: 20px

  background-color: #666
  color: white
  padding: 5px 5px

  text-decoration: none

  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

  border: 2px solid #999

  -webkit-box-shadow: 0px 2px 2px #666
  -moz-box-shadow: 0px 2px 2px #666
  box-shadow: 0px 2px 2px #666

body
  background-color: #fff
  color: #333
  font-family: "Lucida Grande", Helvetica, sans-serif
  font-size: 13px
  line-height: 18px

p, ol, ul, td
  font-family: "Lucida Grande", Helvetica, sans-serif
  font-size: 13px
  line-height: 18px

pre
  background-color: #eee
  padding: 10px
  font-size: 11px

a
  color: #000
  &:visited
    color: #666
  &:hover
    color: #fff
    background-color: #000

div
  &.field, &.actions
    margin-bottom: 10px

#notice
  color: green

.field_with_errors
  padding: 2px
  background-color: red
  display: table

#error_explanation
  width: 450px
  border: 2px solid red
  padding: 7px
  padding-bottom: 0
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: -7px
    margin-bottom: 0px
    background-color: #c00
    color: #fff
  ul li
    font-size: 12px
    list-style: square

table
  th
    background-color: #ccc
    text-align: left
  td, th
    padding: 2px

a img, a:hover img
  border: none !important
  display: block
  margin: 0
  padding: 0
