%h1 Global account settings
%table
  %tr
    %th Twitter request token
    %th Twitter request token secret
  - @global_account_settings.each do |global_account_setting|
    %tr
      %td= global_account_setting.twitter_request_token
      %td= global_account_setting.twitter_request_token_secret
      %td.action= link_to image_tag('edit.png', :title => 'Edit settings manually - NOT RECOMMENDED'), edit_global_account_setting_path(global_account_setting)
      %td.action= link_to image_tag('delete.png', :title => 'Reset all settings to default'), global_account_setting, :confirm => 'Are you sure?', :method => :delete
